
  .item{
    display: flex;
    align-items: center;
    padding: 2px;
    color: var(--desc-color);
    font-size: 14px;
    img{
      width: 40px;
      border: 1px solid var(--border-color);

    }
    .name{
      margin-left: 10px;

    }
  }

