* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

html {
  overflow-y: scroll; // 页面不抖动但会在右边留位置
  //scroll-behavior: smooth;
}

::-webkit-scrollbar{
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: rgb(239, 239, 239);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: #bfbfbf;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #bfbfbf;
}

::-webkit-scrollbar-corner {
  background: #bfbfbf;
}

:root {
  --nav-bg: #222;
  --body-bg: #f5f7fa;
  --item-bg: #fff;
  --border-color: #ddd;
  --desc-color: #676767;
  --title-color: #000;
  --detail-bg: #fff;
  --body-width: 1200px;
  --left-width: 840px;
  --right-width: 350px;
  --title-bc: #62afff; // 蓝色字体
}


.outer-border {
  border: 1px solid var(--border-color);
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .1);
  background: var(--item-bg);
}

.outer-border:hover {
  box-shadow: 0 0 10px #bbb;
}

.ct {
  color: #62afff;
}

.st {
  font-weight: 700;
  font-size: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #999;
}


.divider {
  border: 1px dashed var(--desc-color);
  opacity: .5;
  margin: 0 10px;
  flex: 1;
  height: 1px;
  transform: scaleY(0.5);
}

.mt16 {
  margin-top: 16px;
}


.ant-pagination-item a {
  border-radius: 6px;
  background-color: #fff;
  //border-color: #1677ff!important;
}


.ant-pagination-item a {
  border-radius: 6px;
  background-color: #fff;
  //border-color: #1677ff!important;
}


.ant-pagination-item a:hover {
  background: #f0f0f0;
}


.ant-float-btn {
  //position: fie;
  bottom: 100px;
  right: 250px;
}

//.divider{
//  width: 1px;
//}
