.baseLayout {
  background: var(--body-bg);
  min-height: 100vh;
  //margin-bottom: -20px ;
  .header {
    background: var(--nav-bg);

    .headerBox {
      height: 70px;
      width: 1200px;
      margin: 0 auto;
      display: flex;
      align-items: center;

      .logo {
        font-size: 36px;
        background: linear-gradient(to left, #f902ff, #00dbde);
        color: transparent;
        -webkit-background-clip: text;
      }

      .navBox {
        display: flex;
        flex: 1;
        margin-left: 80px;

        .navItem {
          color: #aaa;
          line-height: 68px;
          width: 80px;
          display: block;
          text-align: center;
        }
        .project{
          color: #aaa;
          margin: 23px 0 0 20px;
          height: 25px;
        }

      }
      .searchInputBox{
        min-width: 230px;
        margin-left: 20px;
      }
    }

  }

  .outlet {
    width: var(--body-width);
    margin: 0 auto;
  }
}


.active {
  color: #fff !important;
  border-bottom: 2px solid #fff;
}


.divider{
  width: 1px;
  background: #fff;
  height: 16px;
  margin-top: 27px;
  margin-left: 16px;
}
//::-webkit-scrollbar{
//  width: 0px;
//}
